---
import "../style.css";
import Hero from "@components/Hero.astro";
import RoadMapInfo from "@components/RoadMapInfo.astro";
import MainRoad from "@components/MainRoad.astro";
import SectionBgs from "@components/SectionBgs.astro";
import Sections from "@components/Sections.astro";
import {ToolDetail} from "@components/ToolDetail";
import MobileMenu from "@components/MobileMenu.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Software Roadmap - Bible in Every Language</title>
  </head>
  <body>
    <Hero />
    <div class="roadMap">
      <RoadMapInfo />
      <MainRoad />
      <SectionBgs />
      <Sections />
      <ToolDetail client:load />
      <MobileMenu />
      <div class="lvhCheck"></div>
    </div>
  </body>
</html>

<style>
  .roadMap {
    position: relative;
  }
  .lvhCheck {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100lvh;
  }
</style>

<script>
  import {initAllAnimations} from "@scripts/animate";
  initAllAnimations();
</script>
