<nav class="toc">
  <h3 class="toc-header">Table of Contents</h3>
  <div>
    <ol>
      <li>
        <a class="toc-section-header" href="#section1">Translation</a>
        <ol>
          <button>Step 1: Consume</button>
          <button>Step 2: Verbalize</button>
          <button>Step 3: Chunk</button>
          <button>Step 4: Blind Draft</button>
          <button>Step 5: Self-Edit</button>
          <button>Step 6: Peer-Edit</button>
          <button>Step 7: Key Word Check</button>
          <button>Step 8: Verse-by-Verse Check</button>
        </ol>
      </li>
      <li>
        <a class="toc-section-header" href="#section2">
          Translation Complete
        </a>
      </li>
      <li>
        <a class="toc-section-header" href="#section3">Refinement</a>
        <ol>
          <button>Step 1: Quality Assessment Guide</button>
          <button>Step 2: Reviewers' Guide</button>
          <button>Step 3: Spiritual Terms Evaluation Tool</button>
          <button>Step 4: Proofreading</button>
        </ol>
      </li>
      <li>
        <a class="toc-section-header" href="#section4">Publication</a>
        <ol>
          <button>Step 1: Repo Consolidation</button>
          <button>Step 2: Pre-Publication Refinement</button>
          <button>Step 3: Publication</button>
        </ol>
      </li>
      <li>
        <a class="toc-section-header" href="#section5">Infrastructure</a>
      </li>
    </ol>
  </div>
</nav>

<style>
  .toc * {
    color: #656478;
    font-size: 0.8rem;
  }
  .toc-header.toc-header {
    font-size: 1.5rem;
    padding-block-end: 0.5rem;
    border-bottom: solid #d3d3d3 1px;
    margin-block-end: 0.5rem;
    color: #40404b;
  }
  .toc button {
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    text-decoration: underline;
  }
  .toc ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .toc-section-header {
    margin-block-end: 0.5rem;
    display: inline-block;
  }
  ol ol {
    margin-inline-start: 20px;
  }
  .toc-section-header,
  button {
    transition: all 0.3s ease-in-out;
  }
  .toc-section-header.active,
  button.active {
    transition: all 0.3s ease-in-out;
    color: var(--global-data-contrast, #3f3d56) !important;
    font-weight: 700;
    transform: scale(1.07);
  }
</style>
